DATABASE_URL=local.db

# Emergency administrator. Keep these secrets outside version control.
AGFBACKUP_BREAK_GLASS_USERNAME=
AGFBACKUP_BREAK_GLASS_PASSWORD=

# For the /settings/about page to load, can be left empty
PUBLIC_BUILD_DATE=
PUBLIC_VCS_REF=
PUBLIC_VERSION=
